/*
    Initial code copied from:
        arijitdasgupta's node_chat project: https://github.com/arijitdasgupta/node_chat
        & Web Speech API Demonstration: https://www.google.com/intl/en/chrome/demos/speech.html
*/




/* ALL */

body {
    background-color: #1B2121;
    font-family: Roboto, Verdana, Arial, sans-serif;
    color: white;
    font-size: 14px;
}
.hidden {
    display: none;
}
img {
    outline: none;
    cursor: pointer;
    clear: both;
    display: block;
    width: 50px;
    height: 50px;
}
button {
    outline: none;
    cursor: pointer;
}




/* TEXT */

h1 {  /* big directions */
    font-size: 32px;
    margin-top: 10px;
    margin-bottom: 2px;
    font-weight: 600;
}
h2 { /* labels */
    font-size: 18px;
    text-transform: uppercase;
    font-weight: 400;
}
h3 { /* small directions, notification settings */
    text-align: left;
    font-size: 20px;
    font-weight: 300;
    margin-bottom: 0px;
    line-height: 24px;
}
h4 {
    font-size: 16px;
}
h5 {
    font-size: 18px;
    margin-top: 10px;
    padding-top: 15px;
    padding-left: 21px;
}
.actionNotes { 
    text-align: center;
    font-size: 12px;
    font-style: italic;
    font-weight: 300;
    color: #8E9193;
}
.notes {
    text-align: center;
    font-size: 12px;
    color: #8E9193;
}
.instructions{
    color: white;
    font-size: 16px;
    text-align: center;
}




/* LOGIN PAGE */

#login {
    margin-top: 250px;
    text-align: center;
    color: white;
    text-align: left;
    width: 415px;
    margin-left: auto;
    margin-right: auto;
}
#login input {
    font-size: 26px;
    font-weight: 600;
    color: #424242;
    background-color: #fff;
    margin-top: 20px;
    padding: 5px;
    width: 400px;
}




/* HEADERS */

.headers{
    background-color: #45535B;
    height: 100px;
    width: 100%;
    box-shadow: 2px 2px 5px black;
    position: fixed;
    z-index: 1000;
    top: 0px;
    left: 0px;
}




/* TRANSCRIPTION SCROLL BAR*/

.scrollbar {
    float: left;
    height: 300px;
    width: 65px;
    overflow-y: scroll;
}
.style3::-webkit-scrollbar-track {
    -webkit-box-shadow: inset 0 0 6px rgba(0,0,0,0.3);
    background-color: #37474F;
}
.style3::-webkit-scrollbar {
    width: 6px;
    margin-right: 100px;
    background-color: red;
}
.style3::-webkit-scrollbar-thumb {
    background-color: #20CE9C;
}




/* LEFT: TRANSCRIPTION */

#transcriptionContainer {
    /*background-color: #282D2D;*/
    box-shadow: 3px 3px 16px black;
    width: 450px;
    color: #FFF;
    position: fixed;
    top: 0px;
    left: 0px;
    height: 100%;
}

/* TRANSCRIPTION HEADER */
#transcriptionHeader{
    width: 450px;
    position: fixed;
}
.channelTitles{
    display: inline-block;
    height: 45px;
    margin-top: 49px;
    margin-right: 10px;
    padding-left: 4px;
    padding-right: 4px;
    margin-left: 10px;
    cursor: pointer;
}
.selectedChannel{
    color: #1DE9B6;
    border-bottom: thick solid #1DE9B6;
}
.arrow{
    font-weight:normal;
    cursor: pointer;
    outline: none;
    float: right;
    margin-right: 15px;
    margin-top: 15px;
}
i{
    width: 3px;
    height: 3px;
    border: solid white;
    border-width: 0 3px 3px 0;
    display: inline-block;
    padding: 3px;
    transform: rotate(135deg);
    -webkit-transform: rotate(135deg);
}

/* TRANSCRIPTION BUTTON WHEN MINIMIZED*/
#transcriptionButton{
    display: none;
    border-radius: 50%;
    width: 55px;
    height: 55px;
    background-color: #20CE9C;
    position: fixed;
    top: 60px;
    left: 20px;
    z-index: 1000000;
    cursor: pointer;
}
#transcriptionButton p{
    font-size: 30px;
    text-align: center;
    margin-top: 6px;
    height: 55px;
}

/* TRANSCRIPTION FOOTER */
#transcriptionFooter{
    width: 450px;
    border-top: 1px solid #20CE9C;
    height: 170px;
    position: absolute;
    z-index: 1000;
    bottom: 0px;
    left: 0px;
}
#bottomDetails {
    position: absolute;
    width: 100%;
    bottom: 10px;
}
.microphoneImages{
    width: 51px;
    margin: auto;
}

/* TRANSCRIPTION CONTENT */
#transcriptionContent {
    margin-top: 100px;
    padding: 10px;
    width: 410px;
    overflow-y: scroll;
}
.transcriptionName {
    font-size: 13px;
    color: #BCC2C4;
    margin-left: 5px;
    text-transform: uppercase;
}
.transcriptionTime {
    font-size: 13px;
    color: #BCC2C4;
    margin-top: 8px;
    margin-right: 8px;
    float: right;
    font-style: italic;
}
.noItalic{
    font-style: normal;
}
.transcriptionMessage {
    font-size: 16px;
    margin-left: 10px;
    margin-right: 10px;
    margin-top: 8px;
    margin-bottom: 8px;
}
.transcriptionBox {
    text-align: left;
    margin-top: 10px;
    margin-bottom: 10px;
    /*background-color: #383D3D;*/
    background-color: #282D2D;
    font-size: 20px;
    padding: 6px;
    border-radius: 3px;
    color: #fff;
    width: 360px;
}
.conversationEnd{
    clear: both;
}
.mainUserText {
    float: right;
}
.regularUserText {
    float: left;
}




/* BUTTONS */

.transcriptionMessage button{
    height: 30px;
    margin: 5px;
    box-shadow: none;
    border-radius: 6px;
    border-style: solid;
    background-color: #282D2D;
    font-size: 16px;
}
/*.transcriptionMessage button:hover {
    font-weight: 500;
}*/
.transcriptionMessage .transcriptButtonAnomaly{
    width: 100px;
    border-color: #FFAA00;
    color: #FFAA00;
}
.transcriptionMessage .transcriptButtonAnomaly:hover {
    color: #282828;
    background-color: #FFAA00;
}
.transcriptionMessage .transcriptButtonBreak{
    width: 120px;
    border-color: #FF1515;
    color: #FF1515;
}
.transcriptionMessage .transcriptButtonBreak:hover {
    /*color: #282828;*/
    color: white;
    background-color: #B70909; /* red */
    /*background-color: #C90C0C;*/
    border-color: #B70909;
}




/* RIGHT: DASHBOARD & DATA VIZ */
#dashboard {
	margin-top: 100px;
    margin-left: 470px;
    z-index: 1;
    /*background-color: pink;*/
    overflow-y: scroll;
    height: 600px;
}
.tiers {
    background-color: #28323F;
    border-radius: 5px;
    margin-top: 20px;
    height: 300px;
}
.standardTiers {
    width: 500px;
    clear: both;
}
.sharedTiers{
    display: inline-block;
}
.dashboardLCC{
    min-width: 200px;
    margin-right: 20px;
}   
.dashboardRelevantDocs{
    width: 300px;
}
rect {
	stroke: white;
}
#dataviz {
    width: 600px;
    height: 500px;
}




/* NOTIFICATION */

.notifications {
    position: fixed; /* Stay in place */
    display: none;
    z-index: 1; 
    padding: 15px;
    right: 0;
    width: 370px;
    float: right;
    margin-top: 25px;
    margin-right: 25px;
    border-left: 6px solid white;
}
.breakNotifs {
    background-color: #B70909; /* red */
    opacity: 0;
    color: white; 
}
.anomalyNotifs {
    background-color: #FFAA00; /* orange */
    top: -300px;
    color: #1B2121; 
}
.closeNotif {
    float: right;
    font-size: 28px;
    font-weight: bold;
    margin-top: -10px;
    cursor: pointer;
}
.iconNotif {
    float: left;
    margin-top: -15px;
    margin-left: 5px;
}
.anomalyIcons {
    color: #1B2121;
}
.breakIcons {
    color: white;
}
.textContainerNotif {
    margin-left: 30px;
    margin-top: -15px;
}
.close:hover,
.close:focus {
    color: #1B2121;
    text-decoration: none;
    cursor: pointer;
}
.notifications p {
    margin-top: 5px;
    margin-bottom: 5px;
    font-size: 16px;
    font-weight: 500;
}
.notifications span {
    margin-right: 5px;
    text-transform: uppercase;
    font-size: 12px;
    font-weight: 00;
}
.notifications button {
    width: 100px;
    height: 30px;
    box-shadow: none;
    border-radius: 6px;
    border-style: solid;
    font-size: 16px;
    font-weight: 500;
}
.notifications button:hover {
    color: white;
    background-color: #1B2121; 
    border-color: #1B2121;
}
.notifications .anomalyButton {
    border-color: #1B2121;
    color: #1B2121;
    background-color: #FFAA00;
}
.notifications .breakButton {
    border-color: white;
    color: white;
    background-color: #B70909;
}




/*TRANSCRIPTION GOOGLE*/

a:link{
    color:#000;
    text-decoration: none;
}
a:visited{
    color:purple;
}
a:hover{
    color:#33F;
}
.final{
    color: red;
    padding-right: 3px; 
}
.interim{
    color: gray;
}
.info{
    font-size: 14px;
    text-align: center;
    color: purple;
    display: none;
}
#results{
    font-size: 14px;
    font-weight: bold;
    border: 1px solid #ddd;
    padding: 15px;
    text-align: left;
    min-height: 150px;
    display: none;
}
#start_button{
    border: 0;
    background-color:transparent;
    padding: 0;
}




/*CHAT*/

#page_title{
    margin-top: 0px;
    margin-bottom: 0px;
    font-size: 45px;
    background-color: yellow;
}
#page_slogan{
    font-size: 20px;
}
#page_slogan a{
    color: #333;
    text-decoration: none;
    transition: color 0.5s;
    -o-transition: color 0.5s;
    -webkit-transition: color 0.5s;
    -moz-transition: color 0.5s;
}
#page_slogan a:hover{
    color: #999;
}
#header{
    z-index: 10;
    position: fixed;
    top: 0px;
    padding: 0px;
    background: rgba(255,255,255,0.8);
    width: 760px;
}



