/*
    Initial code copied from:
        arijitdasgupta's node_chat project: https://github.com/arijitdasgupta/node_chat
        & Web Speech API Demonstration: https://www.google.com/intl/en/chrome/demos/speech.html
*/




/* ALL */

body {
    background-color: #1B2121;
    font-family: Roboto, Verdana, Arial, sans-serif;
    color: white;
    font-size: 14px;
}
.hidden {
    display: none;
}
img {
    outline: none;
    cursor: pointer;
    clear: both;
    display: block;
    width: 50px;
    height: 50px;
}




/* TEXT */

h1 {  /* big directions */
    font-size: 32px;
    margin-top: 10px;
    margin-bottom: 2px;
    font-weight: 600;
}
h2 { /* labels */
    font-size: 18px;
    text-transform: uppercase;
    font-weight: 500;
}
h3 { /* small directions, notification settings */
    text-align: left;
    font-size: 20px;
    font-weight: 300;
    margin-bottom: 0px;
    line-height: 24px;
}
h4 {
    font-size: 16px;
}
.notes { 
    text-align: left;
    font-size: 14px;
}




/* LOGIN PAGE */

#login {
    margin-top: 250px;
    text-align: center;
    color: white;
    text-align: left;
    width: 415px;
    margin-left: auto;
    margin-right: auto;
}
#login input {
    font-size: 26px;
    font-weight: 600;
    color: #424242;
    background-color: #fff;
    margin-top: 20px;
    padding: 5px;
    width: 400px;
}
#loginStatus {
    display: none;
    position: absolute;
    bottom: 10px;
    right: 20px;
}




/* LEFT: TRANSCRIPTION */

#transcriptionContainer {
    background-color: #282D2D;
    width: 400px;
    color: #FFF;
    border-radius: 5px;
    padding: 10px;
    float:left;
    overflow-y: scroll;
}
#transcription {  
    width: 100%;
}
.transcriptionName {
    font-size: 13px;
    color: #BCC2C4;
    margin-left: 5px;
    text-transform: uppercase;
}
.transcriptionTime {
    font-size: 13px;
    color: #BCC2C4;
    margin-top: 8px;
    margin-right: 8px;
    float: right;
    font-style: italic;
}
.noItalic{
    font-style: normal;
}
.transcriptionMessage {
    font-size: 16px;
    margin-left: 10px;
    margin-right: 10px;
    margin-top: 8px;
    margin-bottom: 8px;
}
.transcriptionBox {
    text-align: left;
    margin-top: 10px;
    margin-bottom: 10px;
    background-color: #383D3D;
    font-size: 20px;
    padding: 6px;
    border-radius: 3px;
    color: #fff;
    width: 350px;
}
.microphoneImages{
    width: 51px;
    margin: auto;
}
.mainUserText {
    float: right;
}
.regularUserText {
    float: left;
}




/* BUTTONS */

.transcriptionMessage button{
    width: 100px;
    height: 30px;
    margin: 5px;
    box-shadow: none;
    border-radius: 6px;
    border-color: #F78D1E;
    border-style: solid;
    color: #F78D1E;
    background-color: #383D3D;
    font-size: 16px;
}
.transcriptionMessage button:hover {
    color: #282828;
    font-weight: 500;
    background-color: #FF9800;
    cursor: pointer;
}




/* RIGHT: CONTENT */

main {
	float: right;
	background-color: #383D3D;
    padding: 6px;
    border-radius: 3px;
}


/* LCC */

#lcc{
    width: 600px;
    height: 500px;
}




/* DATA VIZ */

rect {
	stroke: white;
}
#dataviz {
    width: 600px;
    height: 500px;
}




/* NOTIFICATION */

.notifications {
    /*position: fixed;*/ /* Stay in place */
    z-index: 1; 
    padding: 15px;
    /*top: 0;*/
    /*right: 0;*/
    width: 370px;
    float: right;
    margin-top: 25px;
    margin-right: 25px;
    border-left: 6px solid white;
}
.anomalyNotif {
    background-color: #FFAA00;
    color: #1B2121;
}
.breakNotif {
    background-color: #B70909;
    color: white;
}
.closeNotif {
    float: right;
    font-size: 28px;
    font-weight: bold;
    margin-top: -10px;
    cursor: pointer;
}
.iconNotif {
    float: left;
    margin-top: -15px;
    margin-left: 5px;
}
.anomalyIcons {
    color: #1B2121;
}
.breakIcons {
    color: white;
}
.textContainerNotif{
    margin-left: 30px;
    margin-top: -15px;
}
.close:hover,
.close:focus {
    color: #1B2121;
    text-decoration: none;
    cursor: pointer;
}
.notifications p {
    margin-top: 5px;
    margin-bottom: 5px;
    font-size: 16px;
    font-weight: 500;
}
.notifications span {
    margin-right: 5px;
    text-transform: uppercase;
    font-size: 12.5px;
    font-weight: 500;
}
.notifications button {
    width: 100px;
    height: 30px;
    box-shadow: none;
    border-radius: 6px;
    border-style: solid;
    font-size: 16px;
    font-weight: 500;
}
.notifications button:hover {
    cursor: pointer;
    color: white;
    background-color: #1B2121; 
    border-color: #1B2121;
}
.notifications .anomalyButton {
    border-color: #1B2121;
    color: #1B2121;
    background-color: #FFAA00;
}
.notifications .breakButton {
    border-color: white;
    color: white;
    background-color: #B70909;
}





#final_span {
	width: 200px;
	height: 200px;
    background-color: red;
}




/*TRANSCRIPTION GOOGLE*/

a:link{
    color:#000;
    text-decoration: none;
}
a:visited{
    color:purple;
}
a:hover{
    color:#33F;
}
.final{
    color: red;
    padding-right: 3px; 
}
.interim{
    color: gray;
}
.info{
    font-size: 14px;
    text-align: center;
    color: purple;
    display: none;
}
#info{
    font-size: 20px;
    text-align: center;
    color: white;
    visibility: hidden;
}
#results{
    font-size: 14px;
    font-weight: bold;
    border: 1px solid #ddd;
    padding: 15px;
    text-align: left;
    min-height: 150px;
    display: none;
}
#start_button{
    border: 0;
    background-color:transparent;
    padding: 0;
}




/*CHAT*/

#page_title{
    margin-top: 0px;
    margin-bottom: 0px;
    font-size: 45px;
    background-color: yellow;
}
#page_slogan{
    font-size: 20px;
}
#page_slogan a{
    color: #333;
    text-decoration: none;
    transition: color 0.5s;
    -o-transition: color 0.5s;
    -webkit-transition: color 0.5s;
    -moz-transition: color 0.5s;
}
#page_slogan a:hover{
    color: #999;
}
#header{
    z-index: 10;
    position: fixed;
    top: 0px;
    padding: 0px;
    background: rgba(255,255,255,0.8);
    width: 760px;
}



