/*
    Initial code copied from:
        arijitdasgupta's node_chat project: https://github.com/arijitdasgupta/node_chat
        & Web Speech API Demonstration: https://www.google.com/intl/en/chrome/demos/speech.html
*/



/* ALL */

body{
    background-color: #282F30;
}
.hidden{
    display: none;
}



/* LOGIN PAGE */

#login{
    margin-top: 50px;
    text-align: center;
}
#login input{
    font-family: Rockwell;
    font-weight: bold;
    font-size: 25px;
    color: #BBB;
    background-color: #fff;
}


/*RIGHT CONTENT BOX*/

main {
	float: right;
	background-color: white;
	width: 65%;
}

	/* DATA VIZ */

	rect {
		stroke: white;
	}
	#dataviz{
	}

	#final_span{
		width: 200px;
		height: 200px;
	}

/*TRANSCRIPTION GOOGLE*/

*{
    font-family: Verdana, Arial, sans-serif;
}
a:link{
    color:#000;
    text-decoration: none;
}
a:visited{
    color:purple;
}
a:hover{
    color:#33F;
}
.final{
    color: red;
    padding-right: 3px; 
}
.interim{
    color: gray;
}
.info{
    font-size: 14px;
    text-align: center;
    color: purple;
    display: none;
}
.right{
    float: right;
}
#info{
    font-size: 20px;
    text-align: center;
    color: white;
    visibility: hidden;
}
#results{
    font-size: 14px;
    font-weight: bold;
    border: 1px solid #ddd;
    padding: 15px;
    text-align: left;
    min-height: 150px;
    display: none;
}
#start_button{
    border: 0;
    background-color:transparent;
    padding: 0;
}
.highlight{
    background-color: #F78D1E;
	border-radius:3px;
}


/*CHAT*/
#chatbox{
    background: #607d8b;
    width: 23%;
    color: #FFF;
    border-radius: 5px;
    padding: 40px;
	float:left;
	overflow:hidden;
}
#page_title{
    margin-top: 0px;
    margin-bottom: 0px;
    font-family: Rockwell;
    font-size: 45px;
    background-color: yellow;
}
#page_slogan{
    font-family: Rockwell;
    font-size: 20px;
}
#page_slogan a{
    color: #333;
    text-decoration: none;
    transition: color 0.5s;
    -o-transition: color 0.5s;
    -webkit-transition: color 0.5s;
    -moz-transition: color 0.5s;
}
#page_slogan a:hover{
    color: #999;
}
#chat{  
    /*margin-top: 200px;*/
}
.page_text{
    font-size: 20px;
    font-family: Rockwell;
    text-align: center;
}
#chat_input{
    display: none;
    font-family: Rockwell;
    font-weight: bold;
    font-size: 20px;
    width: 800px;
    background-color: pink;
    color: #BBB;
}
.chat_text{
    text-align: left;
    font-family: Rockwell;
    font-size: 20px;
    color: #fff;
}
#messages{
    display: none;
}
#header{
    z-index: 10;
    position: fixed;
    top: 0px;
    padding: 0px;
    background: rgba(255,255,255,0.8);
    width: 760px;
}
.mini_text{
    text-align: left;
    font-size: 14px;
    font-family: Rockwell;
}
#log_in_status{
    display: none;
}

/*NOTIFICATION*/
.notification {
    display: none; /* Hidden by default */
    position: fixed; /* Stay in place */
    z-index: 1; /* Sit on top */
    left: 56%;
    top: 0;
    width: 100%; /* Full width */
}

	/*Content/Box */
	.noti-content {
		background-color: #fefefe;
		padding: 20px;
		border: 5px solid #F78D1E;
		border-radius: 3px;
		width: 40%; /* Could be more or less, depending on screen size */
		color:#000;
	}

	/* The Close Button */
	.close {
		color: #aaa;
		float: right;
		font-size: 28px;
		font-weight: bold;
	}

	.close:hover,
	.close:focus {
		color: black;
		text-decoration: none;
		cursor: pointer;
	}